<% layout('layout_html_test') -%>
<ul>
  <li><a class="active" href="/">OverHere</a></li>
  <li><a href="/">Gallery</a></li>
</ul>
<div id="map-canvas"></div>
<div class="pop-up-text" id="popUpMessege" >
</div>
<div class="pop-up-btn" id="popUpButton" >
</div>